@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$input-focus-color: $grey-darker;
$input-focus-border-color: $grey-lighter;
$input-focus-box-shadow-size: 0;

@import '~bulma';

.navbar-item img {
    transition: transform 0.1s ease-in 0.0s
}

.navbar-item img:hover {
    transform: rotateZ(1deg)
}

.navbar-item img:active {
    transform: translateY(2px)
}

.footer {
    border-top-width: 1px;
    border-top-color: #DDDDDD;
    border-top-style: solid;

    //padding: 0.5rem 0.5rem 3.5rem;
    padding: 1.0rem 1.5rem 0.5rem;
    .container .tabs {
        justify-content: center;

        ul {
            border-bottom: none;
            flex-grow: 0;
            
            li {
                a {
                    color: #748490;
                }

                a:hover {
                    color: black;
                }
            }
        }
    }
}

.fade-variant-enter-active,
.fade-variant-leave-active,
.fade-variant-left-enter-active,
.fade-variant-left-leave-active {
  transition: all 0.15s;
}

.fade-variant-enter,
.fade-variant-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.fade-variant-left-enter,
.fade-variant-left-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

.button.is-red,
.hero.is-red {
    background-color: #df0024;
}

.button.is-red:hover {
    background-color: #ba001e;
}

#orLabel {
    font-size: 13rem;
}